<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar tarea</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <form method="POST" action="/tareas/{{name}}/{{ tarea.id }}/">
    {% csrf_token %}
    <label>
        Título: <input name="titulo" value = "{{ tarea.titulo }}">
    </label>
    <label>
        Completado: <input name="completado" type="checkbox" {% if tarea.completado %}checked{% endif %}>
    </label>
    <p></p>
    <button type="submit">Guardar tarea</button>
</form><form method="POST" action="{% url 'borrar' name tarea.id %}">{% csrf_token %}<button type="submit">Borrar tarea</button></form>
</body>
</html>
