<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="container">
        <h1>Rellene los campos para registrar su cuenta</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action="/register/">
            {% csrf_token %}
            <label>
                Nombre de Usuario:
                <input type="text" name="nombre" required>
            </label>
            <label>
                Contraseña:
                <input type="text" name="pass" required>
            </label>
            <button type="submit">Registrarse</button>
        </form>
        <a href="/"><button>Volver</button></a>
    </div>

    <footer class="footer">
        Realizado por Lilo y PurpleBlunt.
    </footer>
</body>
</html>